<!DOCTYPE html>
<html>
  <head>
    <title>Dice Roll</title>
  </head>

  <body>
    <h1>50d6</h1>

    <li><%= @roll_one %></li>
    <li><%= @roll_two %></li>
    <li><%= @roll_three %></li>
    <li><%= @roll_four %></li>
    <li><%= @roll_five %></li>

  </body>
</html>
